.in-line {
  display:grid;
}
footer {
  right: 0;
  left: 0;
  bottom: 0;
}

* {
  font-family: "Arial", Arial, serif;
}

h1 {
  color: #FF9966;
  font-family: "Arial", Arial, serif;
  font-size: 35px;
    top: 50px;
  position: absolute;
}
